body {
  font-family: Arial;
  background: #f4f4f4;
}

.login-box {
  width: 300px;
  margin: 150px auto;
  text-align: center;
}

.chat-container {
  display: flex;
  height: 100vh;
}

.users {
  width: 25%;
  background: #333;
  color: white;
  padding: 10px;
}

.chat-box {
  width: 75%;
  padding: 10px;
}

#messages {
  height: 80%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}